@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --first-color: white;
  /*f1e8e3*/
  --second-color: #8d3320;
  --second-color-v1: #8d3220e3;
  --third-color: #8d6a20;
  --third-color-v1: #8d6a20a9;
  --fourth-color: #438d20;
}

/* INICIO UTILITIES PERSONALIZADAS*/
.gp {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.gpl {
  padding-left: 85px !important;
}

.gpr {
  padding-right: 85px !important;
}

.c1 {
  color: var(--first-color) !important;
}

.c2 {
  color: var(--second-color) !important;
}

.c3 {
  color: var(--third-color) !important;
}

.c4 {
  color: var(--fourth-color) !important;
}

.bg1 {
  background-color: var(--first-color) !important;
}

.bg2 {
  background-color: var(--second-color) !important;
}

.bg3 {
  background-color: var(--third-color) !important;
}

.bg4 {
  background-color: var(--fourth-color) !important;
}

/* FIN UTILITIES PERSONALIZADAS*/

.icon_menu {
  position: fixed; /* Stay in place */
  bottom: 0;
  margin: 0.3rem;
  z-index: 100;
  padding: 0.2rem !important;

}
.icon_menu_simulation {
  z-index: 100;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  visibility: hidden;
}
.buttom_add {
  z-index: 100;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}
.nav_buttoms {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0.3rem;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--first-color);
}

/*Google Font*/
.hurricane-font {
  font-size: 25px !important;
  font-family: "Hurricane", cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--first-color) !important;
}

.nav-font {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--first-color) !important;
}

.nav-class {
  background-color: var(--second-color);
}

.food-price {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  margin-right: 15px;
  right: 0;
  top: 0;
  background-color: var(--third-color-v1);
  color: var(--first-color);
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.food-title {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--second-color) !important;
  color: var(--first-color) !important;

  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
}

.food-image {
  border-radius: 0px;
}

.food-name {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--third-color-v1);
  color: var(--first-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.main-nav {
  background-color: var(--first-color) !important;
  padding-bottom: 2em;
}

.btn-primary {
  background-color: var(--fourth-color) !important;
  border-color: var(--fourth-color) !important;
}


.btn-secondary {
  background-color: var(--third-color) !important;
  border-color: var(--third-color) !important;
}
.btn-dark {
  background-color: var(--second-color) !important;
  border-color: var(--second-color) !important;
}


.btn-warning {
  color: #ffffff !important;
  background-color: #dda602 !important;
  border-color: #dda602 !important;
}


.btn {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0px !important;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
}

.background-image {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*TABLE MODIFICATIONS*/
table.b-table[aria-busy='true'] {
  opacity: 0;
}

table.b-table[aria-busy='false'] {
  transition: opacity 0.5s;
}

.table thead th {
  border-color: var(--second-color-v1) !important;
  background-color: var(--second-color) !important;
  color: var(--first-color) !important;
  font-weight: 400;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.table th,
.table td {
  border-color: var(--second-color-v1) !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.page-item.active .page-link {
  background-color: var(--second-color) !important;
  border-color: var(--second-color) !important;
  color: var(--first-color) !important;
}

.page-link {
  color: var(--second-color) !important;
  border-radius: 0px !important;
}

.page-item.disabled .page-link {
  color: #212529 !important;
}

.option-class {
  min-width: 100px !important;
}

.form-control,
.custom-file-label,
.modal-content,
.custom-select {
  border-radius: 0px !important;
}

.b-toast-success .toast {
  background-color: rgba(230, 245, 233) !important;
  border-radius: 0px !important;
}

.b-toast-success .toast .toast-header {
  background-color: rgba(212, 237, 218) !important;
  border-radius: 0px !important;
}

.b-toast-danger .toast {
  background-color: rgba(252, 237, 238) !important;
  border-radius: 0px !important;
}

.b-toast-danger .toast .toast-header {
  background-color: rgba(248, 215, 218) !important;
  border-radius: 0px !important;
}

.toast {
  border-radius: 0px !important;
}

.custom-switch .custom-control-label::before {
  border-radius: 0px !important;
}

.custom-switch .custom-control-label::after {
  border-radius: 0px !important;

}

.custom-control-input:checked~.custom-control-label::before {
  background-color: var(--fourth-color) !important;
  border-color: var(--fourth-color) !important;
}

@media only screen and (max-width: 1199px) {
  #main-side {
    margin-left: 0px;
    padding: 0rem !important;
  }

  #mySidenav {
    width: 0px;
  }

  #perfilImage {
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .bottom-card {
    margin-bottom: 2rem;
  }
}


/*t-extra-buttoms*/
.t-extra-buttoms-enter-active{
  transition: all 0.2s ease
}

.t-extra-buttoms-enter {
  opacity: 0;
  transform: translateX(3rem);
}
