@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --color-1: #ffffff;
  /*f1e8e3*/
  --color-2: #8d3320;
  --color-2-v1: #8d3220e3;
  --color-3: #8d6a20;
  --color-3-v1: #8d6a20a9;
  --color-4: #7A8D20;
}

/* INICIO UTILITIES PERSONALIZADAS*/
.gp {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.gpl {
  padding-left: 85px !important;
}

.gpr {
  padding-right: 85px !important;
}

.c1 {
  color: var(--color-1) !important;
}

.c2 {
  color: var(--color-2) !important;
}

.c3 {
  color: var(--color-3) !important;
}

.c4 {
  color: var(--color-4) !important;
}

.bg1 {
  background-color: var(--color-1) !important;
}

.bg2 {
  background-color: var(--color-2) !important;
}

.bg3 {
  background-color: var(--color-3) !important;
}

.bg4 {
  background-color: var(--color-4) !important;
}

/* FIN UTILITIES PERSONALIZADAS*/

.icon_menu {
  position: fixed; /* Stay in place */
  bottom: 0;
  margin: 0.3rem;
  z-index: 110;
  padding: 0.2rem !important;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;

}
.icon_menu_simulation {
  z-index: 100;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  visibility: hidden;
}
.buttom_add {
  z-index: 100;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}
.nav_buttoms {
  z-index: 90;
  position: fixed;
  right: 0;
  left: 75%;

  bottom: 0;
  margin: 0.3rem 2rem 0.3rem 0.3rem;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  
}

/*Google Font*/
.hurricane-font {
  font-size: 25px !important;
  font-family: "Hurricane", cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-1) !important;
}

.nav-font {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--color-1) !important;
}

.nav-class {
  background-color: var(--color-2);
}

.food-price {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  margin-right: 15px;
  right: 0;
  top: 0;
  background-color: var(--color-3-v1);
  color: var(--color-1);
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.food-title {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-2) !important;
  color: var(--color-1) !important;

  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
}

.food-image {
  border-radius: 0px;
}

.food-name {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--color-3-v1);
  color: var(--color-1);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.main-nav {
  background-color: var(--color-1) !important;
  padding-bottom: 2em;
}

.btn-primary {
  background-color: var(--color-4) !important;
  border-color: var(--color-4) !important;
  
}


.btn-secondary {
  background-color: var(--color-3) !important;
  border-color: var(--color-3) !important;
}
.btn-dark {
  background-color: var(--color-2) !important;
  border-color: var(--color-2) !important;
}


.btn-warning {
  color: #ffffff !important;
  background-color: #d89d10 !important;
  border-color: #d89d10 !important;
}


.btn {
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
}

.background-image {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*TABLE MODIFICATIONS*/
table.b-table[aria-busy='true'] {
  opacity: 0;
}

table.b-table[aria-busy='false'] {
  transition: opacity 0.5s;
}

.table thead th {
  /*border-color: var(--color-2-v1) !important;*/
  background-color: var(--color-2) !important;
  
  color: var(--color-1) !important;
  font-weight: 400;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
}

.table th,
.table td {
  /*border-color: var(--color-2-v1) !important;*/
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

}
.table td {
  /*border-color: var(--color-2-v1) !important;*/
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.page-item.active .page-link {
  background-color: var(--color-2) !important;
  border-color: var(--color-2) !important;
  color: var(--color-1) !important;
}

.page-link {
  color: var(--color-2) !important;
  border-radius: 0px !important;
}

.page-item.disabled .page-link {
  color: #212529 !important;
}

.option-class {
  min-width: 100px !important;
  width: 100px !important;
  max-width: 100px !important;
}

.form-control,
.custom-file-label,
.modal-content,
.custom-select {
  border-radius: 0px !important;
}

.b-toast-success .toast {
  background-color: rgba(230, 245, 233) !important;
  border-radius: 0px !important;
}

.b-toast-success .toast .toast-header {
  background-color: rgba(212, 237, 218) !important;
  border-radius: 0px !important;
}

.b-toast-danger .toast {
  background-color: rgba(252, 237, 238) !important;
  border-radius: 0px !important;
}

.b-toast-danger .toast .toast-header {
  background-color: rgba(248, 215, 218) !important;
  border-radius: 0px !important;
}

.toast {
  border-radius: 0px !important;
}

.custom-switch .custom-control-label::before {
  border-radius: 0px !important;
}

.custom-switch .custom-control-label::after {
  border-radius: 0px !important;

}
.custom-control-input:checked~.custom-control-label::before {
  background-color: var(--color-4) !important;
  border-color: var(--color-4) !important;
}

.main-body{
  padding: 2rem;
}

@media only screen and (max-width: 1199px) {
  .nav_buttoms {
    right: 0;
    left: 0;
    margin: 0.3rem;
  }
  .main-body{
    padding: 0.3rem;
  }
}


/*t-extra-buttoms*/
.t-extra-buttoms-enter-active{
  transition: all 0.2s ease
}

.t-extra-buttoms-enter {
  opacity: 0;
  transform: translateX(3rem);
}
