@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --first-color: #f1e8e3;
  --second-color: #8d3320;
  --second-color-v1: #8d3220e3;
  --third-color: #8d6a20;
  --third-color-v1: #8d6a20a9;
  --fourth-color: #438d20;
}
/* INICIO UTILITIES PERSONALIZADAS*/
.gp {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
.gpl {
  padding-left: 85px !important;
}
.gpr {
  padding-right: 85px !important;
}
.c1{
  color: var(--first-color) !important;
}
.c2{
  color: var(--second-color) !important;
}
.c3{
  color: var(--third-color) !important;
}
.c4{
  color: var(--fourth-color) !important;
}
/* FIN UTILITIES PERSONALIZADAS*/


#app {
  font-family: "Roboto Condensed", sans-serif;
}

/*Google Font*/
.hurricane-font {
  font-size: 25px !important;
  font-family: "Hurricane", cursive;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--first-color) !important;
}

.nav-font {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--first-color) !important;
}
.nav-class {
  background-color: var(--second-color);
}

.food-price {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  margin-right: 15px;
  right: 0;
  top: 0;
  background-color: var(--third-color-v1);
  color: var(--first-color);
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.food-title {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--second-color) !important;
  color: var(--first-color) !important;

  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
}

.food-image {
  border-radius: 0px;
}

.food-name {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--third-color-v1);
  color: var(--first-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.main {
  background-color: var(--first-color) !important;
  padding-bottom: 2em;
}

.btn-primary {
  background-color: var(--fourth-color) !important;
  border-color: var(--fourth-color) !important;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0px !important;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
}

.background-image {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
